.Landing {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: introFadeIn 3s ease forwards;
  opacity: 0;

  &-title {
    font-size: 150px;
    font-family: 'Teko';
    color: rgb(102, 22, 231);
  }
  
  &-desc {
    font-size: 30px;
    font-weight: 100;
  }
}

@keyframes introFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}